
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
nav{
  
   width: 100%;
   height: 70px;
   background-color: white;
   position: fixed;
   z-index: 2000;
   top: 0;   
   font-family: 'Poppins', sans-serif;
 }

nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: black;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color:black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 11px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background:  rgb(236, 111, 236);
}
.nav-links .mobile-item{
  display: none;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background:#202020;
  padding: 25px 27px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 50px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color:#d9d9d9;
  font-size: 18px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -47px;
  
}
.row .mega-links li{
  padding: 0 37px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 10px;
  color: #d9d9d9;
  font-size: 13.7px;
  display: block;
}

.wrapper .btn{
   color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
  color: white;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
   background: #242526; 
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
    color: white;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
/* whatsapp icon */
/* Default styling for larger screens */
.wp_outer {
  position: fixed;
  top: auto; 
  bottom: 20px;
  right: 22px;
  z-index: 9999;
}

.wpicons {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.botpenguin-right {
  bottom: 80px !important; 
  right: 20px !important;
  position: fixed !important;
  z-index: 9999; 
}

/* Styling for medium screens */
/* Styling for medium screens */
@media screen and (max-width: 768px) {
  .wp_outer {
    bottom: 25px;
    right: 20px;
  }

  .wpicons {
    width: 50px;
    height: 50px;
  }

  .botpenguin-right {
    bottom: 90px !important; 
    right: 20px !important;
  }
}

/* Styling for small screens */
@media screen and (max-width: 600px) {
  .wp_outer {
    bottom: 25px;
    right: 28px;
  }
  .wpicons {
    width: 45px;
    height: 45px;
  }

  .botpenguin-right {
    bottom: 80px !important; 
    right: 20px !important;
  }
}
  /* banner stsrts  */
  .banner-video {
    position: relative;
    width: 100%;
    padding-top: 46.125%; 
    overflow: hidden;
    margin-top: 5%;
}

.banner-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.banner-video p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    z-index: 1; 
}
  
@media screen and (max-width: 1050px) {
  .banner-video {
    margin-top: 7%;
  }
}@media screen and (max-width: 700px) {
  .banner-video {
    margin-top: 10%;
  }
}
@media screen and (max-width: 580px) {
  .banner-video {
    margin-top: 13%;
  }
}
@media screen and (max-width: 480px) {
  .banner-video {
    margin-top: 15%;
  }
}@media screen and (max-width: 480px) {
  .banner-video {
    margin-top: 18%;
  }
}@media screen and (max-width: 380px) {
  .banner-video {
    margin-top: 20%;
    padding-top: 60.125%;
  }
}
  
 /* lower heading */

.web_service{
  width: 100%;
  margin-top: 6%;

}

.web_service1{
 
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  width: 60%;
  
}
.web_heading{
  font-family: sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  font-weight: bold;
}

.web_paragraph{
  margin-top: 6%;
   font-size: 1.4rem;
  color: rgb(97, 97, 97);
  font-weight: 300;
}
@media screen and (max-width: 1000px) {
  .web_heading{
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 845px) {
  .web_service{
    width: 100%;
    margin-top: 9%;}
  

  .web_service1{
    width: 80%;
    
  }
  .web_heading{
    font-size: 1.8rem;
    
  }
  
}
@media screen and (max-width: 607px) {
  .web_service1{
   display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    width: 80%;
    
  }
  .web_heading{
    font-size: 1.6rem;
    
  }
  .web_paragraph{
    font-size: 1.3rem;
  }
  
  }
  @media screen and (max-width: 500px) {
    .web_service1{
    
      width: 85%;
      
    }
    .web_heading{
   
      font-size: 1.5rem;
      
    }
    .web_paragraph{
      margin-top: 3%;
       font-size: 1.2rem;
      color: rgb(97, 97, 97);
      
    }}
    
    
    @media screen and (max-width: 400px) {
      .web_heading{
   
        font-size: 1.3rem;
        
      }
      .web_service1{
        display: flex;
         margin: auto;
         flex-direction: column;
         text-align: center;
         width:90%;
         
       }


      .web_paragraph{
        margin-top: 3%;
         font-size: 1.1rem;
      }
      
    }
  
    /* cards */
    .outer_card{
      width: 100%;
     margin-top: 7%;  
    }
    .inner_card{
      width: 80%;
      margin: auto;
    }
    .box1{
       display: flex;
       flex-wrap: wrap; 
       flex-direction: row;
       justify-content: center;}
  .image{
      position: relative;
      width: 280px;
      height: 300px; 
  }
  .cards{
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: all 0.6s ease-in-out;
  }
  .front{
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      position: absolute;}
  .back{
      width: 100%;
      height: 100%;
      background-color: rgb(236, 111, 236);
      transform: rotateY(180deg);
      backface-visibility: hidden;
      position: absolute;  
  }
  .backcontent{
      padding: 15px 20px 15px 20px;
      color: white;
      
  }
  .cards:hover{
      transform: rotateY(180deg);
  }
  .card_heading{
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      font-family: sans-serif;
  }
  /* card content */
  .webdev{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}
.webdev1{
  margin-top: 3%;
  
}
.web_list{
 margin-left: 3%;
 margin-top: 2%;
}
.E_card{
  margin-top: 3%;
}
@media screen and (max-width: 1203px) {
  .inner_card{
    width: 85%;
  }
}
@media screen and (max-width: 1000px) {
  .inner_card{
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .inner_card{
    width: 90%;
  }
}
@media screen and (max-width: 311px) {
  .inner_card{
    width: 94%;
  }
}
@media screen and (max-width: 300px) {
  .inner_card{
    width: 96%;
  }
  .image{
     height: 290px; 
}}
/* headercard*/
.lowerouter{
  width: 100%;
  position: absolute;
  margin-top: 9%;
}
 .lowerinner {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the cards horizontally */
 }
.lower_card {
  height: 250px;
  width: 37%;
  text-align: center;
  background-color: white;
  padding: 40px 20px 5px 20px;
  font-family: calibri;
}
.lower_text {
  margin-top: 6%;
  font-size: 16px;
}
.talk {
  text-decoration: none;
  line-height: 70px;
  padding: 10px 20px;
  color: white;
  background-color:  rgb(236, 111, 236);
  font-weight: 700;
  font-size: 15px;
}

.talk:hover{
  background-color: rgb(255, 115, 255);

}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.outerpop{
 
  width: 100%;
  position: absolute;
  margin-top: 4%;


}
.innerpop{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* The popup form - hidden by default */
/* Popup form */
.form-popup {
  border: 3px solid #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: left;
  background-color: white; /* Ensure the form has a white background */
  max-width: 290px;
  z-index: 999;
  display: none;
}
.form-container {
  padding: 10px;
  background-color: white;
}

.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* Popup form heading */
.popheading {
  text-align: center;
}

@media screen and (max-width: 969px) {
  .lower_card {
      width: 42%;
  }}
 @media screen and (max-width: 969px) {
    .lower_card {
        width: 48%;
    }}
@media screen and (max-width: 746px) {
.lower_card {
          width: 53%;
      }}

 @media screen and (max-width: 746px) {
  .lower_card {
            width: 58%;
        }}
 @media screen and (max-width: 600px) {
 .lower_card {
              width: 63%;
              height: 270px;}
 }
  @media screen and (max-width: 508px) {
        .lower_card {
                     width: 69%;
                 }}
                 
@media screen and (max-width: 470px) {
.lower_card {
          width: 78%;
}}
 @media screen and (max-width: 414px) {
 .lower_card {
width: 85%;            
}
 .form-popup{
  max-width: 260px;
 }
}
@media screen and (max-width: 350px) {
  .lower_card {
 width: 92%;            
 }
 }
 @media screen and (max-width: 324px) {
  .lower_card {
 width: 95%;            
 }
  
  
 }
                     
  /* why to choose us stared */
.outer_choose{
  margin-top: 10%;
   width: 100%;
}
.inner_choose{
  display: flex;
  margin-left: 10%;
  flex-direction: column;
  text-align: left;
  width: 80%;
  
}
.choose_title{
  font-weight: 300;
  font-family: calibri;
}

.choose_line{
  margin-top: 2%;
  font-weight: 500;
  font-family: calibri;
}
.choose_paragraph{
  margin-top: 2%;
  font-weight: 200;
  font-family: calibri;
}

.choose_cards {
  display: flex;
  flex-wrap: wrap; 
  font-family: calibri;
  gap: 20px;
  margin-top: 3%;
}

.choose_card1 {
  width: 30%;
  max-width: 200px; 
  height: 130px;
}

.icons {
  font-size: 27px;
  background-color: rgb(32, 13, 53);
  color: white;
  padding: 20px;
  border-radius: 50%;
}

.card_line {
  margin-top: 8%;
}
.fa-solid:hover {
  background-color:  rgb(216, 69, 216);
}

@media screen and (max-width: 768px) {
  .choose_card1 {
    width: 45%; 
   
  } 
  .choose_cards{
    margin-top: 5%;
  }
  .choose_line{
    margin-top: 3%;}

    .choose_paragraph{
      margin-top: 4%;
}}

@media screen and (max-width: 600px) {
 .choose_title{
  font-size: 28px;
 }
 .choose_line{
  font-size: 21px;
 }
 .inner_choose{
  width: 85%;
 }
 .fa-solid {
  font-size: 25px;

 }
}
@media screen and (max-width: 320px) {
  .choose_card1 {
    width: 90%;}}

    /* ending of the why to chose us */
    /* starting of the blog  */

    .main_blog {
      margin-top: 5%;
    }
    
    .blog_title {
      font-weight: 500;
      text-align: center;
  
    }
    
    .blog_outer {
      margin: auto;
      width: 90%; 
      margin-top: 2%;
    }
    
    .blog_inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .blog_card {
      width: 22%;
      height: 390px;
      margin: 1%;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-family: calibri;
    }

    .blog_img {
      width: 100%;
      height:  140px;
      border-radius: 20px 20px 0px 1px; }
    .blog_paragraph {
      padding: 15px 7px 0px 7px;
      font-weight: 600;
      font-size: 17px; }
    .blog_paragraph1 {
      padding: 15px 7px 0px 7px;
      font-size: 15px;}
    .Readmore {
      text-decoration: none;
      position: absolute;
      margin-top: 1%;
      margin-left: 6%;
      padding: 7px 10px 8px 10px;
      background-color:  rgb(216, 69, 216);
      color: white;
      font-weight: 700;
      border-radius: 40px;
      font-size: 16px;
    }
  .Readmore:hover {
  background-color: rgb(255, 115, 255);
    } 
    @media screen and (max-width: 1200px) {
      .blog_card {
        width: 23%;
      } }
    @media screen and (max-width: 1100px) {
      .blog_card {
        width: 37%;
      }
       .Readmore{
        margin-left: 10%;
        margin-top: 2%;
       }
      }
    @media screen and (max-width: 980px) {
      .blog_card {
        width: 37%;
      }}
    @media screen and (max-width: 786px) {
      .blog_card {
        width: 44%;
      } }
    @media screen and (max-width: 654px) {
      .blog_card {
        width: 47%;
      } }
    @media screen and (max-width: 550px) {
      .blog_card {
        width: 64%;}
     .blog_title{
      font-size: 29px; }
      .blog_outer {
        width: 95%;
        margin-top: 8%;}
      .Readmore{
        margin-left: 20%;
        margin-top: 5%; } }
    @media screen and (max-width: 464px) {
      .blog_card {
        width:72% ; }
      .blog_outer {
        width: 95%;
      }}
    @media screen and (max-width: 379px) {
      .blog_card {
        width:85% ;}
      .blog_outer {
        width: 95%;}
      .blog_title{
        font-size: 27px;}
      .Readmore{
        margin-left: 24%;
        margin-top: 5%;
       } }
    @media screen and (max-width: 325px) {
      .blog_card {
        width:89% ;
      }
      .blog_outer {
        width: 95%;
      }}
/* ending of the blogs */
/*
/* starting of the contact us */

.form_main {
  margin-top: 8%;}
.outerform {
  width: 80%;
  margin: auto;
  background-color: #0e001afa;
  padding-bottom: 50px;
  margin-top: 5%;
}
.innerform {
  display: flex;
  justify-content: center;
}
.leftform {
 flex:1;
  min-width:300px; 
  height: 540px;
  padding: 40px;

  color: white;
  font-family: calibri;
}
.space{
  margin-top: 50px;
}
.rightform {
  flex: 1;
  min-width: 300px;
  font-family: calibri;
}
.left_content {
  margin-top: 20px; 
}
.inner_flied {
  margin-bottom: 16px;
}
.rightmain {
  min-height: 470px;
  max-height: 100%; 
  width: 85%;
  margin-top: 26px;
  padding: 10px 20px 20px 20px;
  background-color: white;
  border-radius: 15px;
}
.input2{
  margin-top: 15px; 
  width: calc(100% - 20px); 
  font-size: 17px;
  height: 30px;
}
.input {
  width: calc(100% - 20px); 
  margin-top: 1px;
  height: 30px;
  font-size: 17px;
}
.input1 {
  width: calc(100% - 20px); 
  margin-top: 1px; 
  height: 130px; 
  font-size: 17px;
}
.submit {
  margin-top: 2px; 
  width: 40%; 
  font-size: 18px;
  background-color:  rgb(216, 69, 216);
  padding: 5px 0px 5px;
  font-weight: 500;
  color: white;
  margin-left: 29%;
  border-radius: 40px;
  text-transform: uppercase;}
@media screen and (max-width: 800px) {
  .outerform {
    width: 100%;
    margin-top:5%;
  }
  .innerform {
    flex-direction: column;
  }
  .leftform, .rightform {
    width: 100%; 
    min-width: auto; 
  }
  .rightmain{
    margin-left: 40px;
    padding-bottom: 20px;
    height: 430px;
  }}
@media screen and (max-width: 550px) {
  .rightmain{
    margin-left: 30px;
  }
}
@media screen and (max-width: 400px) {
  .rightmain{
    margin-left: 22px;
  }
}
/* validation for the form */
.inner_flied.error input{
  border: 2px solid red;
} 
.inner_flied.error span{
  color: red;
}
.inner_flied.success input{
  border: 2px solid green;
}
/* course */
.coursename{
 margin-top: 5%;
  text-align: left;
}
.course{display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  width: 95%;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-top: 3%;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 420px;
  object-fit: cover;}
.image-item{
  box-shadow:  10px 10px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }}

/* footer */
/* Importing Google font - Open Sans */
.container{
	max-width: 1170px;
	margin:auto;
}
.footerline{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #1b1b1b;
    padding: 70px 0;
    margin-top: 7%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   font-family: 'Poppins', sans-serif;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(216, 69, 216);
	height: 2px;
	box-sizing: border-box;
	width: 30%;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}}
@media(max-width: 572px){
  .footer-col{
    width: 100%;
}}
